body,html {
		font-size: 18px;
		font-family: Tahoma;
		background-color: #FFF9F7 ;
    color: #574843;
    margin-bottom: 30px;
	}
	* {
  box-sizing: border-box;
}

h1 {
  font-size: 48px;
  text-align: left;;
  height:15%;
  width:100%;
  padding:35px;
  box-sizing:border-box;
  color: #574843;
  font-family: Tahoma;
}

.text {
	font-size: 20px;
	text-align: center;
	background-color: #DFC9C1;
	height:15%;
	padding: 5px;
	box-sizing:border-box;
	font-family: Tahoma;
}




.calendar-body {
	text-align: center;
}

#all_day{
	top: 20px;
	left: 20px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
}

#specified_time{
	top: 20px;
	left: 20px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
}
a:link, a:visited {
	position: relative;
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}

.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 70%;
	outline-color: #574843;
	padding: 35px;

}

.right {
  width: 29%;
}
