body,html {
		font-size: 18px;
		font-family: Tahoma;
		background-color: #fcecdd ;
    color: #fea82f;
    margin-bottom: 30px;
	}

h1 {
  font-size: 48px;
  text-align: center;
  background-color: #ffc288 ;
  background-size:cover;
  height:15%;
  width:100%;
  padding:35px;
  box-sizing:border-box;
  color: #02475e;
  font-family: Tahoma;
}

.text {
	font-size: 36px;
	text-align: center;
	background-size:cover;
	height:15%;
	width:100%;
	padding:35px;
	box-sizing:border-box;
	color: #02475e;
	font-family: Tahoma;
}

.questions {
  font-size: 16px;
  text-align: left;
  background-color: #ff6701 ;
  background-size:cover;
  height:15%;
  width:100%;
  padding:35px;
  box-sizing:border-box;
  color: #02475e;
  font-family: Tahoma;
}

.title{
	font-weight: bolder;
}


.calendar-body {
	text-align: center;
}
