body,html {
		font-size: 18px;
		font-family: Tahoma;
		background-color: #FFFCE7 ;
    color: #FFDFD3;
    margin-bottom: 30px;
	}

h1 {
  font-size: 48px;
  text-align: center;
  background-color: #DACBFE ;
  background-size:cover;
  height:15%;
  width:100%;
  padding:35px;
  box-sizing:border-box;
  color: #FFFCE7;
  font-family: Tahoma;
}

.text {
	font-size: 36px;
	text-align: center;
	background-size:cover;
	height:15%;
	width:100%;
	padding:35px;
	box-sizing:border-box;
	color: #957DAD;
	font-family: Tahoma;
}

.questions {
  font-size: 16px;
  text-align: left;
  background-color: #CAEEFE ;
  background-size:cover;
  height:15%;
  width:100%;
  padding:35px;
  box-sizing:border-box;
  color: #957DAD;
  font-family: Tahoma;
}

.title{
	font-weight: bolder;
}
